# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器
.vscode/
.idea/
*.swp
*.swo

# 系统
.DS_Store
Thumbs.db

# 环境变量
.env
.env.local

# 依赖
dist/
build/
*.tsbuildinfo

# 本地学习进度
assets/progress/word-progress.json

# 本地词库数据
assets/vocabulary/ielts.json
